@charset "UTF-8";

/*
Palte de corres
#E34E02 laranja
#011F26 escuro
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #011F26;
}

body, html {
    width: 100%; /*Usamos width: 100% e height: 100% no html e no body em CSS para garantir que eles ocupem   toda a área visível da janela do navegador (viewport). */
    height: 100%;
    overflow: hidden; /*Anotar comando para tirar completamente a rolagem da tela*/
}

section {
    background-color: white;
    display: block;
    margin: auto;
    margin-top: 200px;
    padding: 0px;
    border-radius: 20px 20px 20px 20px;
    width: 50vw;
    overflow: hidden;
}

#imagem {
    width: 100%;
    height: 200px; /* altura da div */
    overflow: hidden; /* esconde partes da imagem que "vazarem" */
    position: relative;
    border-radius: 20px 20px 0px 0px;

    
}

img {
    width: 100%; /* faz a imagem ocupar toda a largura da div */
    height: 100%; /* faz a imagem ocupar toda a altura da div */
    object-fit: cover;
    display: block;
}

div#formulario > h1 {
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    padding: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

p {
  display: flex;
  align-items: center;     /* alinha ícone e input verticalmente */
  gap: 10px;               /* espaço entre ícone e input */
  margin: 10px ;
}

.material-symbols-outlined {
  font-size: 30px;         /* tamanho do ícone */
  line-height: 1;
}

label {
    color: white;
    padding-right: 5px;
}

p.fundo {
    background-color: #011F26;
    padding: 5px;
    border-radius: 10px;
}

p > input#iemail {
    padding: 10px;
    border-radius: 10px;
    width: 90vw;
    background-color: #ffa476;
    margin: -10px;
}

p > input#iemail:hover {
    background-color: white;
}

p > input#isen {
    padding: 10px;
    border-radius: 10px;
    width: 90vw;
    background-color: #ffa476;
    margin: -10px;
}

p > input#isen:hover {
    background-color: white;
}

p > input#entrar {
    display: block;
    margin: auto;
    width: 90vw;
    padding: 10px;
    border-radius: 10px;
    border-color: #E34E02;
    background-color: #E34E02;
    color: white;
}

input#entrar:hover {
    background-color: #af3d04;
}

p > input#recuperar {
    display: block;
    margin: auto;
    width: 90vw;
    padding: 10px;
    border-radius: 10px;
    border-color: #E34E02;
    background-color: white;
    color: #E34E02;
    margin-bottom: 20px;
}

input#recuperar:hover {
    background-color: #ffa476;
}

section#login,
div#formulario {
    transition: all 0.2s ease-in-out;
}

div#imagem {
    transition: all 0.1s ease-in-out;
}