@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){

body {
    background: linear-gradient(to bottom, #011F26, #e2540de8);
}

section#login {
    display: block;
    height: 315px;
    width: 90vw;
}

div#imagem{
    float: left;
    width: 30%;
    height:315px;
    border-radius: 20px 0px 0px 20px;
}

div > img {
    height: 100%;
}

div#formulario {
    float: right;
    width: 70%;
}

}

